#intro-holder{
    background-color: var(--main);
    border-radius: 50px;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--fColor);
    width: 50vw;
    margin: auto;
    --pad: 20px;
    padding-top: var(--pad);
    padding-bottom: var(--pad); 
    margin-top: 50px;
    font-size: 1.3em;
}

#intro-holder>div{
    width: 80%;
    line-height: 2em;
}

#intro-name>b{
    color: var(--subMain1);
}

#intro-des>b{
    color: var(--subMain2);
}

#intro-name{
    margin-bottom: 20px;
}

/* ============================projects======================== */

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
}

#proj{
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    --space: 100px;
    margin-top: 300px;
    font-size: 1.3em;
}

#proj-web-holder ,#proj-game-holder, #proj-mal-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#proj-web ,#proj-game, #proj-mal{
    background-color: var(--main);
    border-radius: 50px;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--fColor);
    width: 40%;
    --pad: 20px;
    padding-top: var(--pad);
    padding-bottom: var(--pad);
    margin-top: var(--space);
    margin-bottom: var(--space);
}

#proj-mal{
    font-family: var(--sca);
}

#proj-game{
    font-size: 0.8em;
    font-family: var(--pix);
}

#proj-web-title, #proj-game-title, #proj-mal-title{
    text-align: center;
    font-size: 1.5em;
    margin: auto;
}

#proj-web-des, #proj-game-des, #proj-mal-des{
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#proj-web-des>img, #proj-game-des>img, #proj-mal-des>img{
    width: 50%;
    border: 2px solid var(--fColor);
    margin: 20px;
}

#proj-web-vid, #proj-game-vid, #proj-mal-vid{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#proj-web-vid>iframe, #proj-game-vid>iframe, #proj-mal-vid>iframe{
    width: 70%;
}
