header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
}

#title-name{
    --space: 20px;
    font-size: 4em;
    padding-left: var(--space);
    padding-right: var(--space);
}

#title-info-years{
    font-size: 0.8em;
}

#title-info{
    color: var(--fColor);
    display: flex;
    flex-flow: column-reverse nowrap;
    font-size: 2em;
}

/*=====================pageChoice=====================*/

#pageChoices{
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
}

#pageChoices-1, #pageChoices-2{
    font-size: 1.4em;
    padding-left:  40px;
    padding-right: 40px;
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    user-select: none;
}

#pageChoices-1:hover{
    background-color: var(--subMain1);
}

#pageChoices-2:hover{
    background-color: var(--subMain2);
}